@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
    --font-standard:"Manrope", sans-serif;
    

    --hue:194;
    --bg-color:hsl(var(--hue), 47%, 11%);
    --projects-container-color:#334155;
    --text-color:hsl(var(--hue), 40%, 96%);
    


}

body{
    background-color: var(--bg-color);
    font-size: 1.6rem;
    font-family: var(--font-standard);
    color: var(--text-color);
    
}

img{
    max-width:30rem;
    transform: translateY(3.2rem);
    object-fit: cover;
    
    
   
}
.container{
    width: 1100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    padding: 0 1.6rem 0 1.6rem;
}
/******header****/
header .container{
    padding: 2.4rem 1.6rem;
}

nav{
    display: flex;
    gap: 1.6rem;
}
nav a{
    text-decoration: none;
    color: var(--text-color);
    text-transform: uppercase;
    font-weight: 800;
}
nav a:hover{
    transform: scale(1.1);
}

/*****About-me******/


.about-me p{
    max-width: 58rem;
    font-size: 2.2rem;

}



/*****Projects*****/
.projects .container{
    margin-top: 0 auto;
    min-width:100%;

    display: block;
    background-color: var(--projects-container-color);
    
}

.projects h1{
    font-size: 3.8rem;
    text-align: center;
    margin: 3.2rem auto;
}

.projects-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1110px;
    margin: 0 auto;
    padding: 0 1.6rem;
}

