@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
    --font-standard:"Manrope", sans-serif;
    

    --hue:194;
    --bg-color:hsl(var(--hue), 47%, 11%);
    --projects-content-color:hsl(var(--hue), 25%, 27%);
    --text-color:hsl(var(--hue), 40%, 96%);
    --border-division-color:hsl(var(--hue), 27%, 84%);
    


}

body{
    background-color: var(--bg-color);
    font-size: 1.6rem;
    font-family: var(--font-standard);
    color: var(--text-color);
    
}

a{
    text-decoration: none;
    color: var(--text-color);
}

.projects-button{
    width: 12rem;
    padding: .8rem;

    display: block;
    margin:  0 auto;
    text-align: center;
    border: none;
    border-radius: 4px;
    background-color:var(--projects-content-color);

    font-family: var(--font-standard);
    color: var(--text-color);
    font-weight: 600;
    font-size: 1rem;
    text-transform: uppercase;
    transition: background-color .6s ease-in-out;
    

    cursor: pointer;
   
    
}

.projects-button:hover{
    background-color: var(--text-color);
    color: var(--bg-color);  
}

img{
    width: 100%;   
}

.container{
   max-width: 1100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    padding: 6.4rem 2rem;
}


/*****header mobile****/
.logo{
    font-size: 1.2rem;
}

header .container{
    padding: 2.4rem;
}


.hamburguer{
    position: relative;
    display: block;
    width: 2rem;
    cursor: pointer;
    

    appearance: none;
    background: none;
    outline: none;
    border: none;

    position: relative;
    top: 0;
    right: 0;
    z-index: 99;
  
}

.hamburguer .bar, .hamburguer::after, .hamburguer::before{
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color:var(--text-color);
    margin: 6px 8px;
    transition: 0.4s;

    
        

}

.hamburguer.is-active::before{
    transform: rotate(-45deg) translate(-6px,6px);
    
    
    

}
.hamburguer.is-active::after{
    transform: rotate(45deg) translate(-5px,-5.5px);
    
   
    
}

.hamburguer.is-active .bar{
    opacity: 0;
}

.mobile-nav{
    display: none;
}

.mobile-nav{
    position: fixed;

    top: 0;
    left: 100%;
    width: 100%;
    height: 100vh;
    display: block;
    z-index: 98; 
    background-color:var(--projects-content-color);
    display: flex;
    flex-direction: column;
    justify-content: center;

    transition: 0.4s;

    
}

.mobile-nav.is-active{
    left: 0;
  
    
}

.mobile-nav a{
    display: block;
    width: 10.8rem;
    max-width: 28rem;
    margin: 0 auto 1.6rem;
    padding: 1.2rem ;
    text-transform: uppercase;
    
    
    color: var(--text-color);
    font-size: 1.6rem;
    text-decoration: none;
    transition: .5s ease-in-out;
}

.mobile-nav a:hover{
    transform: scale(1.1);
    background-color: var(--bg-color);
    border-radius: 4px;

}

.desktop-nav{
    display: none;
}

/****First view setion*****/

.first-view{
    min-height: 70vh;
    font-size: 2.8rem;
    text-align: center;
    
}

.first-view .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

.first-view .container h5{
    font-size: 2.2rem;
}

/****ABout me section****/


.about-me .container{
    display: block;
    
}

.about-me .container h1{
    font-size: 2.4rem;
    margin:3.2rem 0 3.2rem 0; 
      
    
    
}

.about-me  .container p{
    font-size: 1.6rem;
    line-height: 2.4rem;
    text-align: left;

}

.about-me .container p + p{
    margin-top: 3.2rem;
}

.about-me  .container figure{
    width: 20rem;
    height: 28rem;
    margin: 3.2rem auto 0;
    object-fit: cover;
    overflow: hidden;
    
}


.about-me  .container figure img{
    height: 100%; 
    border-bottom: 1px solid var(--text-color);

}

/***Projects section*****/



.projects .container,
.tools .container{
    flex-direction: column;

    
}

.projects .container h2,
.tools .container h2{
    font-size: 3.8rem;
    text-transform: uppercase;
    text-align: center;

}


.projects-grid{
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    justify-content: center;
    align-items: center;
    padding: 3.2rem;
    
    
}


.project-card{
    flex:1;
    overflow: hidden;
    border-radius: 1.2rem;
    object-fit: cover;
    transition: .6s ease-in-out;
    	
}

.project-card:hover{
    transform: scale(1.1);

}


.card-img {
    overflow: hidden;   
    border-bottom: 5px solid var(--text-color);

    
}   

.card-img img{
    display: block;
    object-fit: cover;
    overflow: hidden;
}



.card-content{
    
    display: block;
    
    padding: 1.2rem;
    background-color: var(--projects-content-color);
    text-align: center;
    text-transform: uppercase;

}


.techs{
    margin-top: 1rem;
    width: 100%;
    justify-content: center;
    gap: 2.2rem;
    display: flex;
    font-size: 2.4rem;
}

/****Projects-grid page*****/
.projects-page .container{
    display: block;
    margin-bottom: 6.4rem;
}
 
.project-card{
    text-decoration: none;
}
.projects-page .container h2{
    font-size: 3.8rem;
    text-transform: uppercase;
    text-align: left;

    margin-bottom: 3.2rem;
}

.projects-page .container p{
    font-size: 2rem;
    margin-bottom: 6.4rem;
}
.projects-grid-page{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 3.2rem;
    

}





/****Section tools****/


.tools-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 2rem;
    place-items: center;

    padding: 3.2rem 1rem;
}

.tools-grid img{
      width: 20vw;
      max-width: 6rem;
        
}

/****Footer****/
footer{
    display: flex;
    justify-content: space-around;
    padding: 2.2rem;
    border-top: 1px solid #cbd5e1;
}

footer a i{
    color: var(--text-color);
    font-size: 3rem;
}

footer a i:hover{
    transform: scale(1.1);
}

footer i{
    color: var(--text-color);
    font-size: 3rem;
    transition: transform .5s ease-in-out;
}

footer  i:hover{
    transform: scale(1.1);
}


@media(min-width:424px){
    .first-view .container h4{
        font-size: 4rem;
    }
    .first-view .container h5{
        font-size: 2.4rem;
    }
    .about-me .container h1{
        font-size: 4.2rem;
    }
    
}



@media(min-width:768px){
    #btnMenu{
        display: none;
    }

    .desktop-nav{
        display: flex;
        gap: 1.6rem;
    }

    .desktop-nav a{
        text-transform: uppercase;
        color: var(--text-color);
        font-size: 1.6rem;
        text-decoration: none;
        transition: transform .5s ease-in-out;
    }
    .desktop-nav a:hover{
        transform: scale(1.1);
      
    }

    .first-view .container h4{
        font-size: 4.6rem;
    }
    .first-view .container h5{
        font-size: 3.2rem;
        margin-top: 3.2rem;
    }

    .about-me .container{
        display: flex;
        gap: 1.6rem;
      
    }
   
    .about-me .container h1{
     
        font-size: 4rem;
    }
    .about-me .container p{
       
        font-size:  2rem;
        line-height: 2.4rem;
    }

    .about-me .container .my-description{
        width: 55%;
        
    }
    
    .about-me .container figure{
        height: 40rem;
        width: 30rem;
    }
    
    .projects-grid{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;    
    }

    .project-card{
        flex: 1;
       
    }
    .projects .projects-button{
        display: block;
        margin: 0 auto;

        width: 20rem;
        height: 4.2rem;
        font-size: 1.6rem;
        
    }

    /***Projects-page****/
    .projects-page .container{
        display: block;
    }
     
    .projects-page .container h2{
        font-size: 3.8rem;
        text-transform: uppercase;
        text-align: left;
    
        margin-bottom: 3.2rem;
    }
    
    .projects-page .container p{
        font-size: 2.2rem;
        margin-bottom: 6.4rem;
    }
    .projects-grid-page{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-gap: 2rem;
    
    }


    .logo{
        font-size: 2rem;
    }

    .tools-grid img{
        width: 8rem;
          
  }

    @media(min-width:1024px){
        .first-view .container h4{
            font-size: 6rem;
        }
        .first-view .container h5{
            font-size: 4.2rem;
        }

        .about-me .container p{
           
            font-size:  2.4rem;
            line-height: 3.2rem;
        }
           

    }

    @media  (min-width:1440px){
        
        .first-view .container h4{
            font-size: 7.2rem;
        }
        .first-view .container h5{
            font-size: 4rem;
        }
        .first-view .container button{
            width: 26rem;
            height: 4.8rem;
            font-size: 1.6rem;
        }

    }

}
